<div class="center jumbotron">
  <h1>Empire Strikes Back</h1>
  <h3>A Star Wars Galaxy of Heroes Guild</h3>

  <h2>
    This is the home page for the Guild Empire Strikes Back
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
